services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: marcelo
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: transaction
    ports:
      - 5433:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: